//パーシャルファイルの呼び出し

@use "reset";


/* *{
outline: 2px solid red;
}
 */


//変数
$main_color: #3376c7;
$sub_color: #ECF7FF;
$sub2_color: #FDC71C;
$text_color: #333333;

//ブレイクポイントの設定
$spc: 1200px;
$tab: 959px;
$lsp: 767px;

$font_ja: "Noto Sans JP", sans-serif;

//@mixin
@mixin spc {
    @media(width <=$spc) {
        @content;
    }
}

@mixin tab {
    @media(width <=$tab) {
        @content;
    }
}

@mixin lsp {
    @media(width <=$lsp) {
        @content;
    }
}

//rem用の関数
@function rem($px) {
    @return ($px / 16) * 1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $text_color;
    font-size: rem(16);
}

//header部分
header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff88;
    backdrop-filter: blur(6px);

    h1 {
        font-size: rem(28);
        font-family: $font_ja;
        padding: 0 20px;
        padding-left: 15px;


        >a {
            color: $text_color;
            display: block;
            background: url(../img/logo.svg) no-repeat left 20%/36px;
            padding-left: 32px;

            &:hover {
                color: $main_color;
            }
        }
    }
}

//CTAボタン
.top-btn-wrapper {
    display: flex;
    gap: 0 20px;
    margin-right: 50px;


    >a {
        display: block;
        width: 220px;
        background-color: $sub2_color;
        border-radius: 0 0 6px 6px;
        padding: 16px 0;
        text-align: center;
        color: $text_color;
        position: relative;

        &::before {
            display: inline-block;
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #FFF url(../img/photo.svg) no-repeat center center/26px;
            position: absolute;
            left: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &.content-btn {
            background-color: #dfdede;

            &::before {
                background: $main_color url(../img/tel.svg) no-repeat center center/26px;

            }
        }
    }

    @include tab() {
        display: none;
    }
}

//pc用ナビ
#pc-nav {
    width: 90%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 10px 20px #bbbbbb;
    border-radius: 8px;
    position: absolute;
    top: 87vh;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100;
    padding: 0 10px;

    >ul {
        display: flex;
        height: 60px;
        align-items: center;

        >li {
            width: calc(100% / 6);
            position: relative;

            >a {
                display: block;
                text-align: center;
                color: $text_color;
                padding: 6px 0;

                &:hover {
                    text-decoration: underline $main_color 3px;
                    text-underline-offset: 4px;
                }
            }

            &:first-of-type {
                border-right: 2px solid $main_color;
                padding: 10px;
            }

            &:nth-of-type(n+3)::before {
                display: block;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $main_color;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }

        }
    }

    @include tab() {
        display: none;
    }
}


//ハンバーガーボタン
#ham-btn {
    display: none;

    @include tab() {
        display: block;
    }
}

//spナビ
#sp-nav {
    display: none;

    @include tab() {
        display: block;
        width: 100%;
        height: calc(100vh - 60px);
        position: fixed;
        z-index: 100;
        top: 60px;
        left: 0;
        background-color: $main_color;
        padding: 40px;
        translate: 100% 0;
        transition: 0.3s;

        &.move {
            translate: 0 0;
        }

        li {
            margin-bottom: 20px;
        }

        a {
            color: $sub_color;
            font-size: rem(20);
            display: block;
            padding: 8px 0 8px 10px;
            border-bottom: 2px solid #fff;

        }

    }
}


//メインビジュアル部分
.main-visual {
    width: 100%;
    height: 90vh;
    position: relative;

    >img {
        object-fit: cover;
        object-position: center 5%;
        /* 画像の表示したいところを変えられる 横縦*/
        width: 100%;
        height: 100%;
    }

    @include lsp() {
        height: 70vh;
    }
}

.main-visual-inner {
    width: 90%;
    height: 80%;
    position: absolute;
    inset: 0;
    top: 20px;
    margin: auto;
    border: 2px solid $main_color;
    border-radius: 10px;

    @include tab() {
        display: none;
    }
}

.vertical {
    writing-mode: vertical-rl;
    position: absolute;
    right: 150px;
    top: 150px;
    font-size: clamp(1.25rem, 1.125rem + 0.5vw, 1.5rem);
    ;
    font-family: $font_ja;

    >span {
        display: block;
        background-color: $sub_color;
        padding: 15px 4px;
        margin: 0 20px;
        height: fit-content;
        /* コンテンツの幅に合わせたサイズを指定できる */
    }

    @include lsp() {
        right: 0;
    }
}

//メイン部分
main {
    padding: 160px 0 0;

    .main-copy {
        text-align: center;
        font-size: clamp(1.375rem, 1.25rem + 0.5vw, 1.625rem);
        font-family: $font_ja;
        margin-bottom: 40px;
    }

    @include lsp() {
        padding: 50px 0 0;
    }
}


//文章の改行
.sp-on {
    display: none;

    @include lsp() {
        display: block;
    }
}

//section部分
.page-section {
    padding: 100px 0;

    >h2 {
        text-align: center;
        font-family: $font_ja;
        font-size: clamp(1.625rem, 1.438rem + 0.75vw, 2rem);
        margin-bottom: 50px;

        >span {
            color: $main_color;
        }

        &::before {
            display: block;
            content: attr(data-en);
            color: $main_color;
            font-size: rem(26);
            margin-bottom: 10px;
        }
    }

    >.lead {
        text-align: center;
        font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
        line-height: 2;
        max-width: 700px;
        margin: 0 auto 80px;
        padding: 0 10px;
    }
}


//ボタンのスタイル
.text-btn {
    width: 240px;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid $main_color;
    border-radius: 4px;
    color: $main_color;

    &::after {
        display: inline-block;
        content: "→";
        font-size: rem(20);
        margin-left: 14px;
    }

    &:hover {
        background-color: $main_color;
        color: #fff;
        transition: 0.2s;

        &::after {
            translate: 10px 0;
            transition: 0.2s;
        }
    }
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 0 50px;

    @include lsp() {
        flex-direction: column;
        gap: 50px 0;
        align-items: center;
    }
}

/* 特徴部分 */

.feature-wrapper {
    width: 90%;
    margin: 0 auto 240px;
    position: relative;
    display: flex;

    .feature-text {
        width: 55%;
        padding: 40px 160px;
        background-color: $sub_color;
        position: relative;

        >h3 {
            font-size: clamp(1.375rem, 1.25rem + 0.5vw, 1.625rem);
            color: $main_color;
            margin-bottom: 30px;
        }

        .feature-lead {
            line-height: 2;
            margin-bottom: 30px;
        }
    }

    .feature-img {
        width: 55%;
        aspect-ratio: 4/2.4;
        position: absolute;
        top: 100px;
        right: 0;

        >img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &:nth-of-type(2) {
        flex-direction: row-reverse;

        .feature-img {
            left: 0;

            @include spc() {
                left: 50px;
            }

            @include lsp() {
                left: 0;
                top: 420px;
            }
        }
    }

    //1200px以下
    @include spc() {
        width: 96%;

        .feature-text {
            padding: 40px 60px;
        }

        .feature-img {
            width: 42%;
            aspect-ratio: 1/1;
            top: 100px;
            right: 50px;
        }
    }

    //767px以下
    @include lsp() {
        .feature-text {
            width: 96%;
            margin: 0 auto;
            padding: 20px 20px 80px;
        }

        .feature-img {
            width: 70%;
            aspect-ratio: 2/1;
            right: 0;
            top: 450px;
        }

        &:nth-of-type(3) {
            margin: 0 auto 20px;
        }
    }
}


.number {
    font-size: clamp(2.5rem, 1.688rem + 3.25vw, 4.125rem);
    color: $main_color;
    position: absolute;
    top: -45px;
    left: 20px;

    &::after {
        display: block;
        content: "";
        width: 240px;
        aspect-ratio: 24/5;
        border-bottom: 2px solid $main_color;
        position: absolute;
        left: -40px;
        top: 50px;
        rotate: -50deg;

        @include spc() {
            display: none;
        }

    }
}

//院長あいさつ部分

#intro {
    position: relative;
}

.intro-visual {
    width: 100%;
    height: 60vh;

    >img {
        object-fit: cover;
        object-position: left 28%;
        width: 100%;
        height: 100%;
    }

    @include lsp() {
        height: 60vh;

        >img {
            object-position: left 28%;
        }

    }
}

.intro-box {
    width: 36%;
    padding: 40px;
    background-color: #FFF;
    box-shadow: 0 0 20px #bbb;
    line-height: 2;
    position: absolute;
    right: 180px;
    bottom: 30px;
    font-size: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
    line-height: 1.75;

    @include tab() {
        width: 90%;
        bottom: -50px;
        right: 0;
        left: 0;
        margin: auto;
        padding: 20px;
    }
}

//お知らせ部分
#news {
    display: flex;
    padding: 80px 10%;

    .news-box {
        width: 35%;

        >h2 {
            font-size: rem(28);
            margin-bottom: 60px;

            &::before {
                display: block;
                content: attr(data-en);
                color: $main_color;
                font-size: rem(26);
                margin-bottom: 10px;
            }
        }
    }

    .news-list {
        width: 65%;

        >dt {
            color: $main_color;
            font-size: rem(20);
            font-weight: bold;
            margin-bottom: 10px;
            padding-left: 20px;
        }

        >dd {
            border-bottom: 1px solid $main_color;
            padding: 0 0 10px 20px;
            margin-bottom: 50px;

            >a {
                color: $text_color;

                &:hover {
                    color: $main_color;
                }
            }
        }
    }

    @include tab() {
        padding: 200px 20px 60px;
    }

    @include lsp() {
        flex-direction: column;
        gap: 60px 0;

        h2 {
            text-align: center;
        }

        .text-btn {
            margin: 0 auto;
        }

        .news-box {
            width: 100%;
        }

        .news-list {
            width: 100%;
        }
    }
}


//採用情報

.recruit-outer {
    width: 100%;
    height: 70vh;
    background: url(../img/recruit.jpg) no-repeat center center/cover;
}


.recruit-bg {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #13547a77 0%, #80d0c777 100%);
    /* ジェネレーターからとってきたグラデーションを指定するコード、90度を指定。半透明はからコードに99を足す。*/
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px 0;
    padding: 20px;

    >h2 {
        font-family: $font_ja;
        font-size: rem(28);
    }

    >p {
        max-width: 660px;
        line-height: 2;
        font-size: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
    }
}

//アクセス部分
#access {
    position: relative;
    height: 70vh;
}

.access-wrapper {
    width: 80%;
    padding: 60px;
    display: flex;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    z-index: 10;
    margin: auto;
    box-shadow: 0 0 20px #bbbbbb;
    border-radius: 10px;

    .access-box {
        width: 40%;

        >h2 {
            font-size: rem(26);
            margin-bottom: 60px;

            &::before {
                display: block;
                content: attr(data-en);
                color: $main_color;
                font-size: rem(24);
                margin-bottom: 10px;
            }
        }

        >p {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 30px;
            }
        }

    }

    .access-img {
        width: 60%;
        aspect-ratio: 4/2.4;

        >img {
            object-fit: cover;
            object-position: center 20%;
            width: 100%;
            height: 100%;
        }
    }

    @include tab() {
        flex-direction: column;
        gap: 50px 0;
        padding: 20px;

        .access-box {
            width: 100%;
            text-align: center;

            .text-btn {
                margin: 0 auto;
            }
        }

        .access-img {
            width: 100%;
            height: fit-content;
            aspect-ratio: 2/1;

            >img {
                object-position: center bottom;
            }
        }
    }
}

//スケジュール部分
.schedule {
    width: 100%;
    height: 80vh;
    color: #fff;
    background: url(../img/access.jpg) no-repeat center 100%/cover;
    position: relative;
    z-index: 1;
    padding-top: 200px;

    &::after {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #24599acc;
    }

    @include lsp() {
        height: auto;
        padding: 200px 0 100px;
    }
}

.schedule-wrapper {
    position: relative;
    z-index: 3;
    display: flex;

    .schedule-text {
        width: 50%;

        .schedule-logo {
            width: 60%;
            margin: 0 auto 30px;
        }

        .tel {
            color: #FFF;
            display: block;
            width: fit-content;
            font-size: rem(24);
            margin: 0 auto 30px;
            background: url(../img/tel.svg) no-repeat left center/30px;
            padding-left: 40px;
            pointer-events: none;

        }
    }

    @include lsp() {
        flex-direction: column;
        gap: 50px 0;

        .schedule-text {
            width: 100%;
        }

        .schedule-table {
            width: 100%;
            padding: 0 10px;
        }
    }
}


//スケジュール部分のボタン

.web-btn2 {
    display: block;
    width: 280px;
    margin: 0 auto;
    background-color: $sub2_color;
    border-radius: 6px;
    padding: 16px 0;
    text-align: center;
    color: $text_color;
    position: relative;

    &::before {
        display: inline-block;
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #927272 url(../img/photo.svg) no-repeat center center/26px;
        position: absolute;
        left: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &:hover {
        background-color: $main_color;
        color: #fff;
        transition: 0.2s;
    }

}

//スケジュール表
.schedule-table {
    padding-left: 10px;
    width: 36%;

    >table {
        width: 100%;
        border-collapse: collapse;
        font-size: rem(20);
        text-align: left;
        margin-bottom: 20px;

        tr:first-of-type {
            border-bottom: 2px solid #FFF;

            >th {
                padding-bottom: 10px;
            }
        }

        th,
        td {
            padding: 4px;
        }
    }

    @include spc() {
        width: 46%;
        ;
    }
}

//footer部分

footer {
    padding: 60px 0;

    >p {
        text-align: center;
    }
}

#footer-nav {
    width: 90%;
    height: 60px;
    margin: 0 auto 30px;
    background-color: #fff;
    padding: 0 10px;

    >ul {
        display: flex;
        height: 60px;
        align-items: center;

        >li {
            width: calc(100% / 6);
            position: relative;

            >a {
                display: block;
                text-align: center;
                color: $text_color;
                padding: 6px 0;

                &:hover {
                    text-decoration: underline $main_color 3px;
                    text-underline-offset: 4px;
                }
            }

            &:first-of-type {
                border-right: 2px solid $main_color;
                padding: 10px;
            }

            &:nth-of-type(n+3)::before {
                display: block;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $main_color;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }

        }
    }

    @include tab() {
        display: none;
    }
}